# Track large model binaries with Git LFS
NST_Code/*.pth filter=lfs diff=lfs merge=lfs -text
NST_Code/experiment/*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
