# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore Python bytecode directories
__pycache__/
**/__pycache__/
*.pyc

# Virtualenvs and env files
.venv/
.env

# Uploads and generated outputs
static/uploads/
NST_Code/experiment/
